[Unit]
Description=Run the screen layout script to automatically move workspaces to the right screen.

[Service]
Type=simple
ExecStart=%h/.local/bin/screen-layout.sh

[Install]
WantedBy=default.target
